<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Johan Mouchet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>15 Puzzle Vue.js</title>

		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
		
		<style>
			.game-frame {
				min-height: 100vh;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
				color: #34495e;
			}

			.puzzle__heading {
				color: #2c3e50;
			}

			.puzzle__grid {
				margin: 0 auto;
			}

			.puzzle__tile {
				box-sizing: border-box;
				height: 3em;
				width: 3em;
				padding: 0;
				text-align: center;
				vertical-align: top;
				border: 0;
				border-radius: .2em;
				background-color: #42b983;
				color: #fff;
				user-select: none;
				cursor: pointer;
				transition: background-color .25s;
			}

			[free="true"] {
				background-color: transparent;
				border: 1px solid #e8e8e8;
				outline: none;
				cursor: default;
			}
		</style>
	</head>

	<body class="game-frame">
		<section>
			<h1 class="puzzle__heading">15 Puzzle Vue.js</h1>
			<div id="puzzle"></div>
		</section>
	</body>

	<script src="https://vuejs.org/js/vue.js"></script>

	<script>
		const gridDimension = 4;
		const nbrOfTiles = Math.pow(gridDimension, 2);

		/**
		 * Create an array "tiles" the size of nbrOfTiles
		 * Fill it with ascending numbers
		 */
		let tiles = [];

		for (let i = 1; i <= nbrOfTiles; i++) {
			tiles.push(i);
		}

		/**
		 * Create a bi-dimensional array "puzzleGridVictory"
		 * Each tile contains a label
		 */
		let puzzleGridVictory = [];

		function initialisePuzzleGridVictory() {
			let i = 0;
			for (let j = 0; j < gridDimension; j++) {
				let row = [];
				for (let k = 0; k < gridDimension; k++) {
					row.push({
						state: {
							label: tiles[i] == nbrOfTiles ? (tiles[i++], '') : tiles[i++],
						},
					})
				}
				puzzleGridVictory.push(row);
			}
			return puzzleGridVictory;
		}

		initialisePuzzleGridVictory();

		/**
		 * Shuffle the tiles array
		 */
		function shuffleArray(array) {
			for (let i = array.length - 1; i > 0; i--) {
				let j = Math.floor(Math.random() * (i + 1));
				[array[i], array[j]] = [array[j], array[i]];
			}
		}

		shuffleArray(tiles);

		/**
		 * To do: Check solvability
		 */

		/**
		 * Create a bi-dimensional array "puzzleGrid"
		 * Each tile contains an x, y coordinate; a label and a "free" boolean
		 */
		let puzzleGrid = [];

		function initialisePuzzleGrid() {
			let i = 0;
			for (let j = 0; j < gridDimension; j++) {
				let row = [];
				for (let k = 0; k < gridDimension; k++) {
					row.push({
						coordinates: {
							x: k,
							y: j,
						},
						state: {
							free: tiles[i] == nbrOfTiles ? true : false,
							label: tiles[i] == nbrOfTiles ? (tiles[i++], '') : tiles[i++],
						},
					})
				}
				puzzleGrid.push(row);
			}
			return puzzleGrid;
		}

		initialisePuzzleGrid();

		// Display puzzleGrid (for demo purpose only):
		// console.log(puzzleGrid);

		/**
		 * Tile component
		 */
		Vue.component('puzzle-tile', {
			props: ['tile'],
			template: `
			<button
				class="puzzle__tile"
				:free="tile.state.free"
				@click="move(tile.coordinates.x, tile.coordinates.y)"
			>
				{{ tile.state.label }}
			</button>`,
			methods: {
				move: function(x, y) {
					/**
					 * Check if the tile has a free adjacent
					 * If so, emit an event to the parent
					 * And call swap()
					 */
					if ((y - 1 >= 0) && (puzzleGrid[y - 1][x].state.free == true)) {
						this.$emit('successfulMove');
						this.swap('up', x, y);
					} else if ((y + 1 <= gridDimension - 1) && (puzzleGrid[y + 1][x].state.free == true)) {
						this.$emit('successfulMove');
						this.swap('down', x, y);
					} else if ((x - 1 >= 0) && (puzzleGrid[y][x - 1].state.free == true)) {
						this.$emit('successfulMove');
						this.swap('left', x, y);
					} else if ((x + 1 <= gridDimension - 1) && (puzzleGrid[y][x + 1].state.free == true)) {
						this.$emit('successfulMove');
						this.swap('right', x, y);
					} else {
						this.$emit('specialEvent', 'This tile cannot be moved');
						return false;
					}
				},
				swap: function(direction, x, y) {
					/**
					 * Swap two adjacent tile' states in the given direction
					 * And call checkVictory()
					 */
					if (direction == 'up') {
						[puzzleGrid[y][x].state, puzzleGrid[y - 1][x].state] = [puzzleGrid[y - 1][x].state, puzzleGrid[y][x].state];
						this.checkVictory();
					} else if (direction == 'down') {
						[puzzleGrid[y][x].state, puzzleGrid[y + 1][x].state] = [puzzleGrid[y + 1][x].state, puzzleGrid[y][x].state];
						this.checkVictory();
					} else if (direction == 'left') {
						[puzzleGrid[y][x].state, puzzleGrid[y][x - 1].state] = [puzzleGrid[y][x - 1].state, puzzleGrid[y][x].state];
						this.checkVictory();
					} else if (direction == 'right') {
						[puzzleGrid[y][x].state, puzzleGrid[y][x + 1].state] = [puzzleGrid[y][x + 1].state, puzzleGrid[y][x].state];
						this.checkVictory();
					}
				},
				checkVictory: function() {
					/**
					 * Verify if the puzzle grid is correctly filled by comparing it to puzzle grid victory
					 */
					for (let i = 0; i < gridDimension; i++) {
						for (let j = 0; j < gridDimension; j++) {
							if (puzzleGrid[i][j].state.label !== puzzleGridVictory[i][j].state.label) {
								return false;
							}
						}
					}
					this.$emit('specialEvent', 'Victory!');
					return true;
				}
			},
		});

		var app = new Vue({
			el: '#puzzle',
			data: {
				puzzleGrid,
				statut: 'Click a <b>tile</b> to start',
				moves: 0,
			},
			template: `
				<div class="puzzle__board">
					<table class="puzzle__grid">
						<tr v-for="row in puzzleGrid">
							<td v-for="tile in row">
								<puzzle-tile
									:tile="tile"
									v-on:successfulMove="incrementTotalMoves"
									v-on:specialEvent="updateStatut">
								</puzzle-tile>
							</td>
						</tr>
					</table>

					<p class="puzzle__statut" v-html="statut"></p>
				</div>`,
			methods: {
				updateStatut: function(statut) {
					this.statut = statut;
				},
				incrementTotalMoves: function () {
					this.moves += 1;
					this.statut = 'Move' + (this.moves > 1 ? 's: ' : ': ') + '<b>' + this.moves + '</b>';
				},
			},
		});
	</script>
</html>
